<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.poem.mapper.PlatformUserMapper" >
    <resultMap id="BaseResultMap" type="org.poem.entity.PlatformUser" >
        <id column="ID" property="id" jdbcType="INTEGER" />
        <result column="USERNAME" property="userName" jdbcType="VARCHAR" />
        <result column="AGE" property="age" jdbcType="INTEGER" />
        <result column="CTM" property="ctm" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List" >
        ID, USERNAME, AGE, CTM
    </sql>

    <select id="getUserList" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM PLATFORM_USER
    </select>

    <select id="getUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM PLATFORM_USER
        WHERE ID = #{id}
    </select>

    <insert id="add" parameterType="org.poem.entity.PlatformUser" >
        INSERT INTO
        PLATFORM_USER
        (USERNAME,AGE,CTM)
        VALUES
        (#{username}, #{age}, now())
    </insert>

    <update id="update" parameterType="java.util.Map" >
        UPDATE
        PLATFORM_USER
        SET
        USERNAME = #{user.username},AGE = #{user.age}
        WHERE
        ID = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer" >
        DELETE FROM
        PLATFORM_USER
        WHERE
        ID = #{id}
    </delete>
</mapper>